*{
    box-sizing: border-box;
}

@font-face{
    font-family: 'Pixel';
    src: url('../font/Pixel.ttf')
}

[wm-flappy]{
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;

}

.bird {
    position : absolute;
    width: 50px;
    left: calc(50% - 30px);
  
}

.pair-of-walls{
    position: absolute;
    top:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.wall{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.wall .border{
    height: 30px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.wall .body{
    height: 200px;
    width: 90px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progress{
    position : absolute;
    top: 10px;
    right: 10px;
    font-family: 'Pixel';
    font-size: 70px;
    z-index: 100;
}